<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>K2 | Administração</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Page Vendors Styles -->
    @RenderSection("VendorsCss", required: false)
    <!--end::Page Vendors Styles -->
    <style type="text/css">
        @@page {
            size: A4 landscape;
        }

        body {
            margin: 0;
            height: 100%;
            padding: 0;
            font-size: 13px;
            font-weight: 300;
            font-family: Poppins;
            -ms-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .m-table.m-table--border-metal, .m-table.m-table--border-metal th, .m-table.m-table--border-metal td {
            border-color: #999;
        }

        .m--align-center {
            text-align: center;
        }

        .m--align-left {
            text-align: left;
        }

        .m--font-bold {
            font-weight: 400;
        }

        .m--font-bolder {
            font-weight: 500;
        }

        .m--font-boldest {
            font-weight: 600;
        }

        .m--icon-font-size-lg1 {
            font-size: 1.4rem !important;
        }

        .m--icon-font-size-lg2 {
            font-size: 1.6rem !important;
        }

        .table {
            border-collapse: collapse !important;
        }
        
        .table-bordered {
            border: 1px solid #f4f5f8;
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #F9F9F9;
        }

        .table th, .table td {
            padding: 0.40rem;
            vertical-align: top;
            border: 1px solid #f4f5f8;
        }
    </style>
    <link rel="shortcut icon" href="~/assets/img/favicon.png" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body>
    @RenderBody()
</body>
<!-- end::Body -->
</html>