@using K2.Web.Helpers

@inject CustomHtmlHelper customHtmlHelper
@model K2.Web.Models.CarroRegistro

<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet-lg" style="margin:0 auto;">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @(Model == null ? "Cadastrar" : "Alterar") carro
                </h3>
            </div>
        </div>
    </div>
    <form id="frmManterCarro" class="m-form m-form--fit m-form--state" novalidate="novalidate">
        <input type="hidden" id="iIdCarro" name="iIdCarro" value="@(Model != null ? Model.Id.ToString() : string.Empty)">
        <div class="m-portlet__body">
            <div class="form-group m-form__group m-form__group--md row">
                <div class="col-lg-6 m-form__group-sub">
                    <label>Descrição <span class="m-badge m-badge--danger m-badge--dot"></span></label>
                    <input type="text" class="form-control m-input m-input--square m-input--air" id="iDescricao" name="iDescricao" maxlength="200" value="@Model?.Descricao" style="text-transform:uppercase;">
                    <span class="m-form__help">Nome de identificação do carro</span>
                </div>
                <div class="col-lg-6 m-form__group-sub">
                    <label>Proprietário <span class="m-badge m-badge--danger m-badge--dot"></span></label>
                    <div class="m-select2 m-select2--square m-select2--air">
                        @customHtmlHelper.DropDownProprietariosCarro("sProprietario", "form-control m-select2", Model == null ? string.Empty : Model.IdProprietario.ToString())
                        <span class="m-form__help">Selecione o proprietário do veículo</span>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group m-form__group--md row">
                <div class="col-lg-4 m-form__group-sub">
                    <label>Quantidade de passageiros <span class="m-badge m-badge--danger m-badge--dot"></span></label>
                    <input type="text" class="form-control m-input m-input--square m-input--air" id="iQuantidadeLugares" name="iQuantidadeLugares" maxlength="2" value="@Model?.QuantidadeLugares">
                    <span class="m-form__help">Qtd. máxima de passageiros suportada.</span>
                </div>
                <div class="col-lg-4 m-form__group-sub">
                    <label>Placa <span class="m-badge m-badge--danger m-badge--dot"></span></label>
                    <input type="text" class="form-control m-input m-input--square m-input--air" id="iPlaca" name="iPlaca" maxlength="8" value="@Model?.Placa" style="text-transform:uppercase;">
                </div>
                <div class="col-lg-4 m-form__group-sub">
                    <label>Fabricante</label>
                    <input type="text" class="form-control m-input m-input--square m-input--air" id="iNomeFabricante" name="iNomeFabricante" maxlength="200" value="@Model?.NomeFabricante" style="text-transform:uppercase;">
                    <span class="m-form__help">Nome do fabricante.</span>
                </div>
            </div>
            <div class="form-group m-form__group m-form__group--md row">
                <div class="col-lg-4 m-form__group-sub">
                    <label>Ano / modelo</label>
                    <input type="text" class="form-control m-input m-input--square m-input--air" id="iAnoModelo" name="iAnoModelo" maxlength="9" value="@Model?.AnoModelo">
                    <span class="m-form__help">Ano / modelo de fabricação.</span>
                </div>
                <div class="col-lg-4 m-form__group-sub">
                    <label>Renavam</label>
                    <input type="text" class="form-control m-input m-input--square m-input--air" id="iRenavam" name="iRenavam" maxlength="30" value="@Model?.Renavam">
                    <span class="m-form__help">Número do Renavam.</span>
                </div>
            </div>
            <div class="form-group m-form__group m-form__group--md row">
                <div class="col-lg-12 m-form__group-sub">
                    <label>Características </label>
                    @{ 
                        var caracteristicas = new List<SelectListItem>
                        {
                            new SelectListItem
                            {
                                Value = "Ar condicionado",
                                Text = "Ar condicionado",
                            },
                            new SelectListItem
                            {
                                Value = "Banco reclinável",
                                Text = "Banco reclinável",
                            },
                            new SelectListItem
                            {
                                Value = "DVD",
                                Text = "DVD",
                            },
                            new SelectListItem
                            {
                                Value = "Maleiro",
                                Text = "Maleiro",
                            },
                            new SelectListItem
                            {
                                Value = "Wi-Fi",
                                Text = "Wi-Fi",
                            }
                        };
                    }
                    <select class="form-control m-select2" asp-for="Caracteristicas" id="sCaracteristicas" name="sCaracteristicas" multiple="multiple" asp-items="@caracteristicas">
                    </select>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid m-form__actions--right">
                <button type="button" class="btn m-btn--square btn-secondary btn-fechar">Cancelar</button>
                <button type="submit" class="btn m-btn--square btn-info">Salvar</button>
            </div>
        </div>
    </form>
</div>