
@{
    ViewData["Title"] = string.Empty;
    Layout = "Template";
}

<div class="m-portlet m-portlet--primary m-portlet--k2">
    <div class="m-portlet__head m-portlet__head--k2">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-user-friends"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Clientes
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="m-btn btn btn-secondary"><i class="la la-plus-square"></i></button>
                <button type="button" class="m-btn btn btn-secondary"><i class="la la-floppy-o"></i></button>
                <button type="button" class="m-btn btn btn-secondary"><i class="la la-header"></i></button>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
    </div>
</div>