@{
    ViewData["Title"] = "About";
    Layout = "Template2";
}
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="divTeste" style="border: 1px solid red; height: 300px; width: 400px;">

</div>
