<div class="m-portlet m-portlet--primary m-portlet-sm" style="border: 1px solid #ccc; margin:10px;">
    <div class="m-portlet__head" style="border-bottom: 1px solid #8DD2F1;">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-lock"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Alterar senha
                </h3>
            </div>
        </div>
    </div>
    <form class="m-form m-form--label-align-right">
        <div class="m-portlet__body">
            <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Senha atual</label>
                <input type="email" class="form-control m-input m-input--square m-input--air" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <span class="m-form__help">We'll never share your email with anyone else.</span>
            </div>
            <div class="form-group m-form__group">
                <label for="exampleInputPassword1">Nova senha</label>
                <input type="password" class="form-control m-input m-input--square m-input--air" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group m-form__group">
                <label for="exampleInputPassword1">Confirme a nova senha</label>
                <input type="password" class="form-control m-input m-input--square m-input--air" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid m-form__actions--right">
                <button type="button" class="btn btn-secondary btn-fechar">Cancelar</button>
                <button type="submit" class="btn btn-info">Alterar</button>
            </div>
        </div>
    </form>
</div>