
    .jconfirm .jconfirm-box {
        padding: 0;
        background-color: transparent;
        display: block;
        border-radius: 0px !important;
    }

        .jconfirm .jconfirm-box div.jconfirm-content-pane {
            margin-bottom: 0;
        }

    .jconfirm .jconfirm-bg.seen {
        background-color: #ccc;
    }

    .jconfirm.jconfirm-white .jconfirm-box {
        box-shadow: none;
    }

.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
    -webkit-box-shadow: none;
    box-shadow: none;
}



.modal-block-xs {
    max-width: 200px;
}

.modal-block-sm {
    max-width: 400px;
}

.modal-block-md {
    max-width: 600px;
}

.modal-block-lg {
    max-width: 900px;
}

.modal-block-full {
    max-width: 100%;
}