
.jconfirm .jconfirm-box {
    padding: 0;
    background-color: transparent;
    display: block;
    border-radius: 0px !important;
}

    .jconfirm .jconfirm-box div.jconfirm-content-pane {
        margin-bottom: 0;
    }

.jconfirm .jconfirm-bg.seen {
    background-color: #ccc;
}

.jconfirm.jconfirm-white .jconfirm-box {
    box-shadow: none;
}

.jconfirm-title-hidden {
    visibility: hidden;
    display: none !important;
}

.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jconfirm.jconfirm-modern.jconfirm-open .jconfirm-box .jconfirm-title-c .jconfirm-icon-c i.fa {
    font-size: 69px;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c i.fa {
    font-size: 28px;
}

.jconfirm.jconfirm-supervan .jconfirm-bg {
    background-color: rgba(54,70,93,.85);
}

.jconfirm.jconfirm-light .jconfirm-bg {
    background-color: #444;
    opacity: 0.5;
}

div.jconfirm-content-pane .jconfirm-content {
    overflow: hidden !important;
}

.m-portlet-xs {
    max-width: 200px;
}

.m-portlet-sm {
    max-width: 400px;
}

.m-portlet-md {
    max-width: 600px;
}

.m-portlet-lg {
    max-width: 900px;
}

.m-portlet-xl {
    max-width: 1024px;
}

.m-portlet-full {
    max-width: 100%;
}

.m-blockui {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3);
    padding: 5px;
}

#m_login_signin_submit {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(100, 189, 227, 0.5) !important;
    box-shadow: 0px 5px 10px 2px rgba(100, 189, 227, 0.5) !important;
}

.m-topbar__userpic > i.fa.fa-user-circle {
    color: #fff;
    font-size: 2.1rem;
}

.m-form .m-form__actions {
    padding: 20px;
}

.form-control.m-input--air {
    -webkit-box-shadow: 1px 2px 10px 0px rgba(115, 76, 234, 0.11);
    box-shadow: 1px 2px 10px 0px rgba(115, 76, 234, 0.11);
}

.input-group.m-input-group--air {
    -webkit-box-shadow: 1px 2px 10px 0px rgba(115, 76, 234, 0.11);
    box-shadow: 1px 2px 10px 0px rgba(115, 76, 234, 0.11);
}

.m-select2.m-select2--air .select2-container--default .select2-selection--single,
.m-select2.m-select2--air .select2-container--default .select2-selection--multiple {
    -webkit-box-shadow: 1px 2px 10px 0px rgba(115, 76, 234, 0.11);
    box-shadow: 1px 2px 10px 0px rgba(115, 76, 234, 0.11);
}

.btn-brand:hover {
    color: #fff;
    background-color: #8DD2F1;
    border-color: #8DD2F1;
}

.m-subheader {
    margin: 15px 0 15px 0;
}

.m-portlet--k2 {
    border: 1px solid #efefef;
}

.m-portlet--k2-modal {
    border: 1px solid #ccc;
}


.m-portlet__head--k2 {
    border-bottom: 1px solid #6AB6E8 !important;
}

.m-content--skin-light .m-body {
    background-color: #f9f9f9;
}

.modal-backdrop {
    background-color: #444;
    opacity: 0.5;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: transparent;
}

.modal .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table td {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F9F9F9;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #f2f2f2;
}

.table-bordered {
    border: 1px solid #efefef;
}

.table-hover tbody tr:hover {
    background-color: #ecf7f9;
}

table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100%;
}

.dataTables_wrapper .child .dtr-details > li .dtr-title {
    width: 1px;
    white-space: nowrap;
}

table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color: #575962;
}

.select2-selection__clear {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f4516c;
    font-weight: bold;
    color: #fff !important;
    font-size: 1.2rem !important;
}

.select2-container--open {
    z-index: 9999999999999999 !important;
}

.m-nav__item--home {
    margin-right: -14px;
}

.m-form__group-dashed {
    border-bottom: 1px dashed #ebedf2;
}

.m-form.m-form--group-seperator-dashed--k2 .m-form__group {
    padding-top: 15px;
    padding-bottom: 15px;
}

    .m-form.m-form--group-seperator-dashed--k2 .m-form__group p {
        margin-bottom: 0;
    }

.m-btn--icon.m-btn--icon-only--sm {
    display: inline-block;
    position: relative;
    padding: 0 !important;
    width: 20px;
    height: 20px;
}

    .m-btn--icon.m-btn--icon-only--sm i {
        font-size: 1.0rem;
    }

.m-accordion .m-accordion__item--brand .m-accordion__item-head, .m-accordion .m-accordion__item--brand .m-accordion__item-head:hover {
    background-color: #007AAD !important;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__stats2 {
    width: 9rem;
}

.m-nav .m-nav__item + .m-nav__section {
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .jc-bs3-container.container {
        max-width: 90%;
    }
}

@media (max-width: 1024px) {
    .jc-bs3-container.container {
        max-width: 94%;
    }
    
    .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
        color: #007AAD;
    }

    .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-icon, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
        color: #007AAD;
    }
}

@media (min-width: 1025px) {
    .m-portlet-xs {
        width: 200px;
    }

    .m-portlet-sm {
        width: 400px;
    }

    .m-portlet-md {
        width: 600px;
    }

    .m-portlet-lg {
        width: 900px;
    }

    .m-portlet-xl {
        width: 1024px;
    }

    .m-portlet-full {
        width: 100%;
    }
    
    .m-body .m-container.m-container--fluid .m-wrapper {
        padding: 0 50px;
    }

    .m-header {
        background: #6AB6E8;
    }

    .m-header-menu .m-menu__nav > .m-menu__item {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 8px;
        padding-right: 8px;
    }

        .m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--active .m-menu__link {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 0.1875rem;
            color: #fff !important;
            font-weight: normal !important;
        }

        .m-header-menu .m-menu__nav > .m-menu__item:hover {
            color: #fff !important;
        }

        .m-header-menu .m-menu__nav > .m-menu__item .m-menu__link {
            padding-left: 10px;
            padding-right: 10px;
        }

            .m-header-menu .m-menu__nav > .m-menu__item .m-menu__link:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 0.1875rem;
                color: #fff !important;
            }

    .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-text, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text {
        color: #fff;
    }

    .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-icon, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-icon {
        color: #fff;
    }

    .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link > .m-menu__hor-arrow, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link > .m-menu__hor-arrow {
        color: #fff;
    }

    .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
        font-weight: normal;
    }

    .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
        font-weight: normal;
    }
}

@media (max-width: 1200px) {
    .m-timeline-1 .m-timeline-1__items .m-timeline-1__item.m-timeline-1__item--left .m-timeline-1__item-time {
        right: unset;
    }
}
